.section-1{
    padding: 15px 15px 40px 15px;
}

.section-1-title{
    font-weight: 500;
    font-size: 64px;
    line-height: 90%;
    letter-spacing: 0.02em;
    font-family: 'DrukCyr';
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    color: #000;
}

.section-1-title span{
    font-weight: 500;
    font-size: 16px;
    line-height: 113%;
    text-align: center;
    font-family: sans-serif;
    text-transform: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto -5px auto;
    color: #fff;
    border-radius: 14px;
    width: 332px;
    height: 25px;
    box-shadow: 0 5px 38px 0 #000;
    background: #0084ff;
}

.section-1-content{
    box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.26);
    background: rgb(255, 255, 255);
    border-radius: 21px 0 0 21px;
    max-width: 315px;
    width: 100%;
    height: 95px;
    margin-top: 40px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.section-1-content-title{
    font-weight: 700;
    font-size: 16px;
    line-height: 113%;
    text-align: center;
    color: #000;
}

.section-1-content-title span{
    color: #0183ff;
}

.section-1-computer{
    object-fit: contain;
    width: 100%;
    height: 187px;
    position: absolute;
    right: -16px;
    top: -5px;
}

.section-1-wrapper{
    display: flex;
    align-items: center;
    position: relative;
}


@media(max-width: 440px){
    .section-1-content{
        max-width: 290px;
    }

    .section-1-content-title{
        font-size: 15px;
    }
}

@media(max-width: 410px){
    .section-1-content{
        max-width: 270px;
        padding-right: 20px;
    }

    .section-1-content-title{
        font-size: 15px;
    }
}

@media(max-width: 390px){
    .section-1-content{
        max-width: 250px;
        padding-right: 25px;
        border-radius: 21px;
    }

    .section-1-content-title{
        font-size: 14px;
    }
}